.login-main {
  height: 100%;
  width: 100%;
  background-image: url(https://cdn.dribbble.com/users/77121/screenshots/15191750/media/0ce749e630ca31ffd76e105b09340b45.gif);
  background-size: 65% 100%;
  background-position: right;
  display: inline-block;

  .login-center {
    display: inline-block;
    background-color: #ffffff;
    width: 450px;
    height: 100%;
    vertical-align: middle;

    .login-logo {
      margin-left: 20px;
      margin-top: 20px;
      p {
        display: inline-block;
        font-weight: 700;
        width: 25px;
        height: 40px;
        border: 3px solid black;
      }

      p:hover {
        cursor: pointer;
        text-decoration: line-through;
      }

      .login-message {
        margin-left: 5%;
        display: inline-block;
        margin-top: 0px;
        color: red;
      }
    }

    .sign-in-info {
      margin-left: 20px;
      height: 78px;
      p {
        display: inline-block;
        width: 100px;
        font-weight: bolder;
        font-size: 22px;
        margin-bottom: 0px;
      }
    }

    .sign-in-console {
      input {
        margin-left: 20px;
        width: 100px;
        height: 40px;
        border: 2px solid #505864b5;
        border-top-style: hidden;
        border-right-style: hidden;
        border-bottom-style: solid;
        border-left-style: hidden;
        outline: none;
      }

      input::placeholder {
        color: gray;
      }

      input:focus {
        border: 2px solid #0067b8;
        border-top-style: hidden;
        border-right-style: hidden;
        border-bottom-style: solid;
        border-left-style: hidden;
      }

      .username-input {
        width: 400px;
        margin-bottom: 10px;
      }

      .password-input {
        width: 400px;
        margin-top: 10px;
      }

      .submit-login {
        background-color: #0067b8;
        margin-top: 20px;
        margin-left: 320px;
        width: 100px;
        height: 40px;

        p {
          color: #ffffff;
          text-align: center;
          padding-top: 8px;
          pointer-events: none;
        }
      }

      .submit-login:hover {
        cursor: pointer;
        background-color: #005da6;
      }
    }

    .login-options {
      margin-left: 20px;
      p {
        font-size: 14px;
        display: inline-block;
      }

      .create-account {
        margin-left: 5px;
        font-size: 14px;
        display: inline-block;
        color: #0067b8;
      }

      .create-account:hover {
        cursor: pointer;
        color: gray;
        text-decoration: underline;
      }
    }
  }
}
