<div class="top-container">
  <button class="apps-icon">
    <i class="material-icons">apps</i>
  </button>
  <p class="to-do-link">
    <a class="to-do" href="index.html">To Do</a>
  </p>
  <button class="search-bar">
    <i class="material-icons">search</i>
  </button>
  <div class="right-corner">
    <button
      class="settings-icon"
      routerLinkActive="active"
      routerLink="../settings"
    >
      <i class="material-icons">settings</i>
    </button>
    <button class="help-icon">
      <i class="material-icons">question_mark</i>
    </button>
    <button class="whats-new-icon">
      <i class="material-icons">campaign</i>
    </button>
    <button class="account-icon">
      <i class="material-icons">account_circle</i>
    </button>
  </div>
</div>
