<app-side-bar *ngIf="isSideBarVisible" (iconName)="(menuIcon)"></app-side-bar>
<app-nav-bar *ngIf="!isSideBarVisible"></app-nav-bar>
<div class="center" [ngClass]="toDoMainClass" id="center-block">
  <div class="center-head" id="center-head">
    <div
      [ngClass]="
        isSideBarVisible ? 'center-head-icon' : 'center-head-icon clickable'
      "
      id="center-head-icon"
      (click)="openLeftSide()"
    >
      <i class="material-icons" *ngIf="selectedCategory">{{
        isSideBarVisible ? selectedCategory.iconName : "menu"
      }}</i>
    </div>
    <div class="center-head-desc">
      <p id="main-head" *ngIf="selectedCategory">{{ selectedCategory.name }}</p>
    </div>
    <div class="date-info" *ngIf="selectedCategory">
      <p id="current-date" *ngIf="selectedCategory.id == 1">
        {{ currentDate }}
      </p>
    </div>
  </div>
  <!-- Contains task addition feature and other additional stuffs -->
  <div class="center-main">
    <div class="task-list-origin">
      <div class="unchecked-circle">
        <i class="fa-regular fa-circle"></i>
      </div>
      <div class="to-do-input">
        <!-- Input for task name -->
        <input
          [(ngModel)]="taskName"
          type="text"
          class="task-input"
          placeholder="Add a task"
          (keyup.enter)="addTask(taskName); taskName = ''"
        />
      </div>
      <!--Contains additional tools for adding task and click button for applying the task-->
      <div class="origin-feature">
        <i class="material-icons">calendar_month</i>
        <i class="material-icons">notifications</i>
        <i class="material-icons">repeat</i>
        <div
          class="add-task"
          id="add-task"
          (click)="addTask(taskName); taskName = ''"
        >
          <div>Add</div>
        </div>
      </div>
    </div>
    <!--Contains the task list of the user task-->
    <app-task-list [newTask]="newTask"></app-task-list>
  </div>
</div>
<app-task-console *ngIf="selectedTask"></app-task-console>
