<app-side-bar *ngIf="isSideBarVisible" (iconName)="(menuIcon)"></app-side-bar>
<div
  class="center"
  [ngClass]="selectedTask == null ? 'center center-right-wide' : 'center'"
  id="center-block"
>
  <div class="center-head" id="center-head">
    <div class="center-head-icon" id="center-head-icon">
      <i class="material-icons" *ngIf="selectedCategory">{{
        selectedCategory.iconName
      }}</i>
    </div>
    <div class="center-head-desc">
      <p id="main-head" *ngIf="selectedCategory">{{ selectedCategory.name }}</p>
    </div>
    <div class="date-info">
      <p id="current-date">
        {{ currentDate }}
      </p>
    </div>
  </div>
  <!-- Contains task addition feature and other additional stuffs -->
  <div class="center-main">
    <div class="task-list-origin">
      <div class="unchecked-circle">
        <i class="fa-regular fa-circle"></i>
      </div>
      <div class="to-do-input">
        <!-- Input for task name -->
        <input
          [(ngModel)]="taskName"
          type="text"
          class="task-input"
          placeholder="Add a task"
          (keyup.enter)="addTask(taskName); taskName = ''"
        />
      </div>
      <!--Contains additional tools for adding task and click button for applying the task-->
      <div class="origin-feature">
        <i class="material-icons">calendar_month</i>
        <i class="material-icons">notifications</i>
        <i class="material-icons">repeat</i>
        <div class="add-task" id="add-task">
          <div>Add</div>
        </div>
      </div>
    </div>
    <!--Contains the task list of the user task-->
    <app-task-list [newTask]="newTask"></app-task-list>
  </div>
</div>
<app-task-console *ngIf="selectedTask"></app-task-console>
